<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
<h1>Вход</h1>
{{if .ErrorMessage}}<p style="color:red">{{.ErrorMessage}}</p>{{end}}
<form method="POST">
    <!-- Поле для Email (используется для входа) -->
    <input type="email" name="email" placeholder="Email" value="{{.Email}}" required> <!-- Используем name="email" -->
    <!-- Поле для пароля -->
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Войти</button>
</form>
</body>
</html>